<div class="w-full mx-auto">
        <h1 class="text-center mb-2 p-2 font-bold">
          Welcome to Budget-Wise!
        </h1><br>
        <div class="text-center mx-auto d-flex">
        <%= link_to 'Log in', new_user_session_path, class: "btn bg-blue-500 p-2 hover:bg-blue-700 text-white" %>
        <br>
        <small class="p-2">Dont have an account yet?</small><br>
        <%= link_to 'Sign up', new_user_registration_path, class: "btn p-2 bg-gray-500 mb-8 text-gray-200" %>
        </div>
</div>
